<h3>ADD A NEW PRODUCT </h3>
<form action="/products" method="post">
<p>
    <label>PRODUCT NAME:&nbsp;</label>
    <br />
    <input type="text" name="name">
</p>
<p>
    <label>PRICE:&nbsp;</label>
    <br />
    <input type="money" name="price">
</p>
<p>
    <label>DESCRIPTION:&nbsp;</label>
    <br />
    <textarea name="description"></textarea>
</p>
<p>
    <input type="submit" name="" value="Create the new product.">
</p>
</form>
<br />

