<form action="/categories" method="post">
  <p>
    <label>Category:</label>
    <textarea name="description"></textarea>
  </p>

  <p>
    <input type="submit" name="" value=" Create the new category.">
  </p>
</form>
