<h2>OUR PRODUCTS</h2>

<h4>Click a product to view details.</h4>
<ul>
  <% @products.each do |product| %>
    <li> <a href="products/<%=product["id"]%>"><%= product["name"]%></a></li>
  <% end %>
</ul>

<a href="products/new"> Create a new product.</a>
